# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=voxsight
DB_USER=postgres
DB_PASSWORD=Elisabet03.

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=30d

# Alert Thresholds
BATTERY_LOW_THRESHOLD=20
DATA_PACKAGE_LOW_THRESHOLD=100
